name: Conform

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  conform-check:
    name: Standards Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: chrismlittle123/github-actions/typescript-standards-check@main
